﻿@model IEnumerable<Data.Models.Document>

@{
    ViewBag.Title = "ClusterDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ClusterDetails</h2>

<table class="table">
    <tr>
        <th>
            Id
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Header)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Header)
        </td>
    </tr>
}

</table>
