﻿@model Data.Models.TermSet

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TermSet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Algorithm Descirption
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Algorithm.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>

    <table class="table">
        <tr>
            <th>
                Id
            </th>
            <th>
                Значение
            </th>
            <th></th>
        </tr>
        @foreach (var term in Model.Terms)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => term.Id)
                </td>
                <td>
                    @Html.DisplayFor(model => term.Value)
                </td>
                <td>
                    @Html.ActionLink("Удалить", $"DeleteTerm", new { id = term.Id })
                </td>
            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("К списку", "Index")
</p>
